<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="typo3-messages" role="alert">
			<f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
				<f:for each="{errors}" as="propertyError">
					<div class="message-error typo3-message">
						<f:translate
								key="form.error.{propertyError.code}"
								arguments="{0:'{f:translate(key:\"form.error.{propertyName}\")}'}" >{propertyError.message}
						</f:translate>
					</div>
				</f:for>
			</f:for>
		</div>
	</f:if>
</f:form.validationResults>