<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><postmaster:email.plaintextLineBreaks>
        Example Company
    </postmaster:email.plaintextLineBreaks></f:section>
    
    <!-- HTML -->
    <f:section name="Html">
        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; table-layout: fixed; border-bottom: 8px solid #b8b8b8; font-family: 'Arial', sans-serif">
            <tr>
                <td style="width: 50%; padding-right: 10px; padding-bottom: 10px; vertical-align: bottom">
                    <a href="###baseUrl###"><img src="###baseUrlLogo###" alt="Example Company" style="max-width: 100%; height: auto" /></a>
                </td>
    
            </tr>
        </table>
    </f:section>
</html>